plugins {
    id("duckdetector.android.library")
    id("duckdetector.android.compose")
}

android {
    namespace = "{{package}}.ui"
}

dependencies {
    implementation(project(":core:detector"))
    implementation(project(":core:evidence"))
    api(project(":core:ui"))
    implementation(project(":feature:{{name}}:detector"))
    implementation(project(":feature:{{name}}:presentation"))
    implementation(libs.androidx.foundation.layout)
    implementation(libs.androidx.material.icons.extended)
    implementation(libs.androidx.ui)
}
